// Colors
$background-dark: #333333;
$background-light: #ffffff;
$highlight: #abcdef;

// Navigation colors
$nav-background: $background-dark;
$nav-title-color: $background-light;
$nav-link-color: $highlight;
