// Colors
$background-dark: #333333;
$background-light: #ffffff;
$highlight: #fa6485;
$white: #fff;
$black: #000;
$grey: #555;


// Navigation colors
$nav-background: $background-dark;
$nav-title-color: $background-light;
$nav-link-color: $highlight;

// home
$landing-cover-image: "http://www.golf-luchon.net/images/placeholder.jpg";
$landing-title-color: $black;
$landing-subtitle-color: $grey;
