.home {
  height: 100%;

  .button {
    background-color: $highlight;
  }

  .button-white {
    background-color: $white;
    color: $highlight;
  }
}

.home-landing-picture {
  height: calc(100% - 54px);
  width: 100%;
  background: url($landing-cover-image) center no-repeat;
  background-size: cover;

  .home-teaser-description {
    margin-top: 100px;

    .home-landing-title {
      color: $landing-title-color;
    }

    .home-landing-subtitle {
      color: $landing-subtitle-color;
    }
  }
}

.home-teacher {
  padding: 30px 10px 30px 10px;
  background-color: $highlight;

  h1, h2, h3, h4, p {
    color: $white;
  }
}

.home-student {
  padding: 30px 10px 30px 10px;
}

.home-package-description {
  padding: 15px;
}
