.home-landing-picture {
  height: calc(100% - 54px);
  width: 100%;
  background: url($landing-cover-image) center no-repeat;
  background-size: cover;
}

.home {
  background: #567abc;
  height: 100%;
}
