.home {
  height: 100%;
}

.home-landing-picture {
  height: calc(100% - 54px);
  width: 100%;
  background: url($landing-cover-image) center no-repeat;
  background-size: cover;
  padding: 100px;

  .home-landing-title {
    color: $landing-title-color;
  }

  .home-landing-subtitle {
    color: $landing-subtitle-color;
  }
}

.home-client-package-description {
  padding: 50px;
  
}
