.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-title-color;
  }
  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }
  .menu a {
    color: $nav-link-color;
  }
}
